PaymentService/resources/PaymentService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Payment" targetNamespace="http://www.example.org/Payment/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mh="http://www.example.org/Payment/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:nss="http://www.example.org/schema">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.example.org/Payment/">
			<xsd:import namespace="http://www.example.org/schema" schemaLocation="Auction.xsd"/>
			
			<xsd:element name="PaymentFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="PaymentFault" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="Payment">
				<xsd:sequence>
					<xsd:element name="auctionItem" type="nss:AuctionItem"/>
					<xsd:element name="amount" type="xsd:double"/>
					<xsd:element name="debtorName" type="xsd:string"/>
					<xsd:element name="debtorEmail" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>


		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="CreateDebtorPaymentResponse">
  </wsdl:message>
  <wsdl:message name="PaymentFault">
    <wsdl:part name="errorMessage" element="mh:PaymentFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateDebtorPaymentRequest">
    <wsdl:part name="payment" type="mh:Payment">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Payment">
    <wsdl:operation name="CreateDebtorPayment">
      <wsdl:input message="mh:CreateDebtorPaymentRequest">
    </wsdl:input>
      <wsdl:output message="mh:CreateDebtorPaymentResponse">
    </wsdl:output>
      <wsdl:fault name="PaymentFault" message="mh:PaymentFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PaymentBinding" type="mh:Payment">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CreateDebtorPayment">
      <soap:operation soapAction="http://www.example.org/Payment/CreateDebtorPayment"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.example.org/Payment/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.example.org/Payment/"/>
      </wsdl:output>
      <wsdl:fault name="PaymentFault">
        <soap:fault name="PaymentFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentService">
    <wsdl:port name="PaymentPort" binding="mh:PaymentBinding">
      <soap:address location="http://localhost:8080/DeliveryService/services/PaymentService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
