DeliveryService/resources/DeliveryService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Delivery" targetNamespace="http://www.example.org/Delivery/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mh="http://www.example.org/Delivery/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:nss="http://www.example.org/schema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/Auction/">
			<xsd:import namespace="http://www.example.org/schema" schemaLocation="Auction.xsd"/>
		</xsd:schema>
    <xsd:schema targetNamespace="http://www.example.org/Delivery/">
			<xsd:element name="DeliveryFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DeliveryFault" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:complexType name="shipmentLocation">
					<xsd:sequence>
						<xsd:element name="personName" type="xsd:string"/>
						<xsd:element name="personEmail" type="xsd:string"/>
						<xsd:element name="Address" type="xsd:string"/>
					</xsd:sequence>
			</xsd:complexType>			
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="DeliveryFault">
    <wsdl:part name="errorMessage" element="mh:DeliveryFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateShipmentRequest">
    <wsdl:part name="AuctionItem" type="nss:AuctionItem">
    </wsdl:part>
    <wsdl:part name="Sender" type="mh:shipmentLocation">
    </wsdl:part>
    <wsdl:part name="Receiver" type="mh:shipmentLocation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateShipmentResponse">
  </wsdl:message>
  <wsdl:portType name="Delivery">
    <wsdl:operation name="CreateShipment">
      <wsdl:input message="mh:CreateShipmentRequest">
    </wsdl:input>
      <wsdl:output message="mh:CreateShipmentResponse">
    </wsdl:output>
      <wsdl:fault name="DeliveryFault" message="mh:DeliveryFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DeliveryBinding" type="mh:Delivery">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CreateShipment">
      <soap:operation soapAction="http://www.example.org/Delivery/CreateShipment"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.example.org/Delivery/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.example.org/Delivery/"/>
      </wsdl:output>
      <wsdl:fault name="DeliveryFault">
        <soap:fault name="DeliveryFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeliveryService">
    <wsdl:port name="DeliveryPort" binding="mh:DeliveryBinding">
      <soap:address location="http://localhost:8080/BidMagic_Delivery/services/DeliveryService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
