AuctionService/resources/AuctionService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Auction" targetNamespace="http://www.example.org/Auction/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mh="http://www.example.org/Auction/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/Auction/">
			<xsd:element name="Username">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="username" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Bid">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="mh:AuctionItem"/>
						<xsd:element name="biddingUser" type="xsd:string"/>
						<xsd:element name="bidAmount" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AuctionItem">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="itemOwnerName" type="xsd:string"/>
						<xsd:element name="itemName" type="xsd:string"/>
						<xsd:element name="description" type="xsd:string"/>
						<xsd:element name="minimumBid" type="xsd:int"/>
						<xsd:element name="endTime" type="xsd:dateTime"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ItemList">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" ref="mh:AuctionItem"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AuctionFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AuctionFault" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="AddAuctionFault">
    <wsdl:part name="errorMessage" element="mh:AuctionFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BidItemResponse">
  </wsdl:message>
  <wsdl:message name="AddAuctionResponse">
  </wsdl:message>
  <wsdl:message name="BidItemRequest">
    <wsdl:part name="bid" element="mh:Bid">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllAuctionItemsRequest">
  </wsdl:message>
  <wsdl:message name="GetAllAuctionItemsFault">
    <wsdl:part name="errorMessage" element="mh:AuctionFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BidItemFault">
    <wsdl:part name="errorMessage" element="mh:AuctionFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddAuctionRequest">
    <wsdl:part name="item" element="mh:AuctionItem">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllAuctionItemsResponse">
    <wsdl:part name="items" element="mh:ItemList">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Auction">
    <wsdl:operation name="AddAuction">
      <wsdl:input message="mh:AddAuctionRequest">
    </wsdl:input>
      <wsdl:output message="mh:AddAuctionResponse">
    </wsdl:output>
      <wsdl:fault name="AddAuctionFault" message="mh:AddAuctionFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllAuctionItems">
      <wsdl:input message="mh:GetAllAuctionItemsRequest">
    </wsdl:input>
      <wsdl:output message="mh:GetAllAuctionItemsResponse">
    </wsdl:output>
      <wsdl:fault name="GetAllAuctionItemsFault" message="mh:GetAllAuctionItemsFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="BidItem">
      <wsdl:input message="mh:BidItemRequest">
    </wsdl:input>
      <wsdl:output message="mh:BidItemResponse">
    </wsdl:output>
      <wsdl:fault name="BidItemFault" message="mh:BidItemFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuctionBinding" type="mh:Auction">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AddAuction">
      <soap:operation soapAction="http://www.example.org/Auction/AddAuction"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AddAuctionFault">
        <soap:fault name="AddAuctionFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllAuctionItems">
      <soap:operation soapAction="http://www.example.org/Auction/GetAllAuctionItems"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="GetAllAuctionItemsFault">
        <soap:fault name="GetAllAuctionItemsFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="BidItem">
      <soap:operation soapAction="http://www.example.org/Auction/BidItem"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BidItemFault">
        <soap:fault name="BidItemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuctionService">
    <wsdl:port name="AuctionBinding" binding="mh:AuctionBinding">
      <soap:address location="http://localhost:8080/AuctionService/services/AuctionService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
