PaymentService/wsdl/Payment.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:mh="http://www.example.org/Payment/" xmlns:nss="http://www.example.org/schema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Payment"
	targetNamespace="http://www.example.org/Payment/">
	<wsdl:types>

		<xsd:schema targetNamespace="http://www.example.org/Payment/"
			elementFormDefault="qualified">
			<xsd:import schemaLocation="Auction.xsd" namespace="http://www.example.org/schema"></xsd:import>
			
			<xsd:element name="PaymentFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="PaymentFault" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="Payment">
				<xsd:sequence>
					<xsd:element name="auctionItem" type="nss:AuctionItem"></xsd:element>
					<xsd:element name="amount" type="xsd:double"></xsd:element>
					<xsd:element name="debtorName" type="xsd:string"></xsd:element>
					<xsd:element name="debtorEmail" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>


		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="CreateDebtorPaymentRequest">
		<wsdl:part name="payment" type="mh:Payment" />
	</wsdl:message>
	<wsdl:message name="CreateDebtorPaymentResponse">
	</wsdl:message>
	<wsdl:message name="PaymentFault">
		<wsdl:part name="errorMessage" element="mh:PaymentFault" />
	</wsdl:message>
	<wsdl:portType name="Payment">
		<wsdl:operation name="CreateDebtorPayment">
			<wsdl:input message="mh:CreateDebtorPaymentRequest" />
			<wsdl:output message="mh:CreateDebtorPaymentResponse" />
			<wsdl:fault name="PaymentFault" message="mh:PaymentFault" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PaymentBinding" type="mh:Payment">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CreateDebtorPayment">
			<soap:operation soapAction="http://www.example.org/Payment/CreateDebtorPayment" />
			<wsdl:input>
				<soap:body namespace="http://www.example.org/Payment/"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://www.example.org/Payment/"
					use="literal" />
			</wsdl:output>
			<wsdl:fault name="PaymentFault">
				<soap:fault use="literal" name="PaymentFault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PaymentService">
		<wsdl:port binding="mh:PaymentBinding" name="PaymentPort">
			<soap:address
				location="http://localhost:8080/BidMagic_Payment/services/PaymentService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>