UserService/resources/UserService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="User" targetNamespace="http://www.example.org/User/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mh="http://www.example.org/User/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/User/">
			<xsd:element name="UserFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="UserFault" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="AddUserResponse">
  </wsdl:message>
  <wsdl:message name="GetUserInfoRequest">
    <wsdl:part name="username" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddUserRequest">
    <wsdl:part name="username" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="password" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="address" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="email" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetUserInfoResponse">
    <wsdl:part name="address" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="email" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UserFault">
    <wsdl:part name="errorMessage" element="mh:UserFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="User">
    <wsdl:operation name="addUser">
      <wsdl:input message="mh:AddUserRequest">
    </wsdl:input>
      <wsdl:output message="mh:AddUserResponse">
    </wsdl:output>
      <wsdl:fault name="AddUserFault" message="mh:UserFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserInfo">
      <wsdl:input message="mh:GetUserInfoRequest">
    </wsdl:input>
      <wsdl:output message="mh:GetUserInfoResponse">
    </wsdl:output>
      <wsdl:fault name="GetUserInfoFault" message="mh:UserFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserBinding" type="mh:User">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addUser">
      <soap:operation soapAction="http://www.example.org/User/AddUser"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.example.org/User/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.example.org/User/"/>
      </wsdl:output>
      <wsdl:fault name="AddUserFault">
        <soap:fault name="AddUserFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserInfo">
      <soap:operation soapAction="http://www.example.org/User/GetUserInfo"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.example.org/User/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.example.com/User/GetUserInfo"/>
      </wsdl:output>
      <wsdl:fault name="GetUserInfoFault">
        <soap:fault name="GetUserInfoFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="UserPort" binding="mh:UserBinding">
      <soap:address location="http://localhost:8080/UserService/services/UserService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
